@media screen and (max-width: 600px){
    body {
    background-color:cadetblue;
    }
}

body {
    background-color:burlywood;
}

header {
    color:darkblue;
    padding-left: 50%;
}

footer {
    color:darkred;
    margin-left: 10%;
}

p {
    font-family:fantasy;
    margin-left: 5%;
}
